☠️ Boss
——————
When:       {{ formatTime .Boss.Expected }}
            {{ formatTimeDiff .Boss.Expected }}
Name:       {{ .Boss.Name }}
Territory:  {{ .Boss.Territory }}
Zone:       {{ .Boss.Zone }}


🔥 Helltide
——————
{{- if helltideActive .Helltide.Timestamp }}
When:       Active now!
Started:    {{ formatTime .Helltide.Timestamp }} 
            {{ formatTimeDiff .Helltide.Timestamp }}
{{- else }}
When:       {{ nextHelltide .Helltide.Timestamp }}
            {{ nextHelltideDiff .Helltide.Timestamp }}
{{- end }}
Refresh:    {{ nextHelltideRefresh .Helltide.Timestamp .Helltide.Refresh }}
            {{ nextHelltideRefreshDiff .Helltide.Timestamp .Helltide.Refresh }}
Zone:       {{ .Helltide.Zone }}


🔅 Legion
——————
When:       {{ formatTime .Legion.Timestamp }}
            {{ formatTimeDiff .Legion.Timestamp }}
Territory:  {{ .Legion.Territory }} 
Zone:       {{ .Legion.Zone }}
